.contact .cards{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.contact .cards .card{
    width: 30%;
}
.contact .cards .card .card-wrapper{
    padding: 24px;
    width: 100%;
    height: calc(100% - 20px);
    box-shadow: 0 0.8px 16px rgba(0, 0, 0, 0.15) !important;
}
.contact .cards .card .icon-wrapper{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e64ff;
}
.contact .cards .card .icon{
    color: #fff;
    font-size: 30px;
}
.contact .cards .card p{
    color: #999;
}